<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="style/main.css" type="text/css" media="all" />
    <script src="style/main.js" type="text/javascript"></script>
    
    <div class="bg22"></div>

    <!-- <div class="bg"></div>

<div class="star-field">
<div class="layer"></div>
<div class="layer"></div>
<div class="layer"></div> -->

    <div class="example" id="gall" style="position:fixed;">
        <img src="images/pic1.webp"><span>Drari ghada nbenghrer</span> 
        <img src="images/pic2.webp"><span>Club Music A7ssen Club</span> 
        <img src="images/pic3.webp"><span>Daro activite</span> 
        <img src="images/pic4.webp"><span>speed fktaba ????????</span> 
        <img src="images/pic5.webp"><span>Dayren rassom ketfarjo</span> 
        <img src="images/pic6.webp"><span>Tel7awi dayer fiha boss</span> 
        <img src="images/pic7.webp"><span>Kebar</span> 
        <img src="images/pic8.webp"><span>1337 wallpaper ❤️</span> 
        <img src="images/pic9.webp"><span>Nas ghada mssafra</span> 
        <img src="images/pic10.webp"><span>Nas dyal volly</span> 
        <img src="images/pic11.webp"><span>Winooooooooo</span> 
        <img src="images/pic12.webp"><span>khadamin 3la game</span> 
        <img src="images/pic13.webp"><span>mcha 3am, o bdina 3am</span> 
        <img src="images/pic14.webp"><span>Nas dyal widad</span> 
        <img src="images/pic15.webp"><span class="top-left">nhar dyal photat</span> 
    </div>
    
    <div style="bottom:0;position:fixed; z-index: 5;">
    <h4>
    <a target="_blank" href="https://www.youtube.com/watch?v=auLopgsgJ_s" style=" font-size: 30px; border: 0px; text-decoration: none; color: #fff;">Who's mayache?</a>
    </h4>
    </div>

</body>
</html>