<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Me App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen">
  <div class="w-full flex justify-center items-center h-full">
    <a href="./42" class="flex cursor-pointer border border-black text-black p-2 px-4  font-semibold rounded shadow-xl">
      <div>Login</div>
      <div class="flex px-0.5"></div>
      <img class="w-6 invert" src="/images/42.png" alt="42">
    </a>
  </div>
</body>

</html>