<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    body {
        background: url('/images/Culture_Matrix_RedPillBluePill-1047403844.webp') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .container {
      z-index: 2; 
      display: flex;
    }

    .container .dv {
      width: 15rem; 
      height: 15rem;
    }
    #d1{
      position: absolute;
top: 85%;
left: 70%;
transform: translate(-50%, -50%);
    }
    #d2{
      position: absolute;
top: 85%;
left: 30%;
transform: translate(-50%, -50%);

    }

    /* bottom */

    :root {
  --black: rgba(0, 0, 0, 0.2);
}

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 var(--black), inset 0 -4px 0 var(--black);
  color: black !important;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: 0;
  max-height: inherit;
  padding: 8px 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: 100ms;
  -o-transition-duration: 100ms;
  -webkit-transition-duration: 100ms;
  transition-property: background, color;
  -o-transition-property: background, color;
  -webkit-transition-property: background, color;
  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  width: auto; /* 100% causes the button to be the width of the container */
}

.btn:focus,
.btn:hover {
  background-color: #dddada;
  text-decoration: none;
}


.welcome {
  top: 0;
  width: 100%;
  text-align: center;
  float: left;
  color: yellow;
  font-size: 3rem;
}
.container2 {
  width: 50%;
  float: left;
}
.retxt {
  text-transform: uppercase;
  top: 0;
  width: 100%;
  text-align: center;
  float: left;
  color: yellow;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

  </style>
</head>

<body >

    <h1 class='retxt'>Welcome to Matrix <br/> <%= data.login %></h1>

  <div class="container" id="playButton">
    <div style="background-color: rgba(240, 248, 255, 0) ; width: 90rem; height: 40rem;">

    </div>
    <a href="gallery">
      <div style="background-color: rgba(238, 130, 238, 0); " class="dv" id="d1"></div>
    </a>
    <a href="redpill">
      <div style="background-color:rgba(255, 99, 71, 0);" class="dv"  id="d2"></div>
    </a>
  </div>

  <audio id="player" style="display:none;">
    <!-- Sources inserted with JavaScript -->
  </audio>

  <header style="background-color: rgba(238, 130, 238, 0); padding: 20px;">
    <button id="playPauseButton" class="btn">Play/Pause</button>
  
    </header>
</body>

<script>
  window.onload = function() {
    var audioElement = document.createElement('audio');
    audioElement.controls = true;
    audioElement.muted = false;
    audioElement.autoplay = true;

    var musicFiles = ["audio/honor-and-sword-main-11222.mp3", "audio/honor-and-sword-main-11222.mp3", "audio/honor-and-sword-main-11222.mp3"]; // replace with your music files
    var randomMusicFile = musicFiles[Math.floor(Math.random() * musicFiles.length)];

    var sourceElement = document.createElement('source');
    sourceElement.src = randomMusicFile;
    sourceElement.type = "audio/mpeg";

    audioElement.appendChild(sourceElement);

document.getElementById('playPauseButton').addEventListener('click', function() {
  if (audioElement.paused) {
    audioElement.play();
  } else {
    audioElement.pause();
  }
});

document.getElementById('playButton').addEventListener('click', function() {
  if (audioElement.paused) {
    audioElement.play();
  }
});
  }

</script>
</html>