<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    body {
        background: url('/images/Culture_Matrix_RedPillBluePill-1047403844.webp') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .container {
      z-index: 2; 
      display: flex;
    }

    .container .dv {
      width: 10rem; 
      height: 10rem;
    }
    #d1{
      position: absolute;
top: 85%;
left: 70%;
transform: translate(-50%, -50%);
    }
    #d2{
      position: absolute;
top: 85%;
left: 30%;
transform: translate(-50%, -50%);

    }
  </style>
</head>

<body >
  <header style="background-color: rgba(238, 130, 238, 0); padding: 20px;">
  <button id="playPauseButton">Play/Pause</button>

  </header>

  <p class="text-sm  text-gray-500 dark:text-white">Welcome in My Matrix <%= data.login %></p>
  <div class="container" id="playButton">
    <div style="background-color: rgba(240, 248, 255, 0) ; width: 90rem; height: 40rem;">

    </div>
    <a href="gallery">
      <div style="background-color: violet; " class="dv" id="d1"></div>
    </a>
    <a href="dachboard">
      <div style="background-color:tomato;" class="dv"  id="d2"></div>
    </a>
  </div>

  <audio id="player" style="display:none;">
    <!-- Sources inserted with JavaScript -->
  </audio>
</body>

<script>
  window.onload = function() {
    var audioElement = document.createElement('audio');
    audioElement.controls = true;
    audioElement.muted = false;
    audioElement.autoplay = true;

    var musicFiles = ["audio/honor-and-sword-main-11222.mp3", "audio/honor-and-sword-main-11222.mp3", "audio/honor-and-sword-main-11222.mp3"]; // replace with your music files
    var randomMusicFile = musicFiles[Math.floor(Math.random() * musicFiles.length)];

    var sourceElement = document.createElement('source');
    sourceElement.src = randomMusicFile;
    sourceElement.type = "audio/mpeg";

    audioElement.appendChild(sourceElement);

document.getElementById('playPauseButton').addEventListener('click', function() {
  if (audioElement.paused) {
    audioElement.play();
  } else {
    audioElement.pause();
  }
});

document.getElementById('playButton').addEventListener('click', function() {
  if (audioElement.paused) {
    audioElement.play();
  }
});
  }
</script>
</html>