<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/main1.css">
</head>
<body>
    <div class="scene">
        <div class="wrap">
            <div class="wall wall-right"></div>
            <div class="wall wall-left"></div>   
            <div class="wall wall-top"></div>
            <div class="wall wall-bottom"></div> 
            <div class="wall wall-back"></div>    
        </div>
        <div class="wrap">
            <div class="wall wall-right"></div>
            <div class="wall wall-left"></div>   
            <div class="wall wall-top"></div>
            <div class="wall wall-bottom"></div>   
            <div class="wall wall-back"></div>    
        </div>
      </div>
      <img src="https://facts.net/wp-content/uploads/2023/09/9-astounding-facts-about-meme-faces-1695945988.jpg" style="position: absolute; top: 45%; left: 45%;" width="200rem" alt="">
      <a target="_blank" href="https://tetris.com/play-tetris" style="background-color: rgba(240, 248, 255, 0); z-index: 5; top: 62%; left: 49%; position: absolute; text-decoration: none; color: white;">PLAY</h1>
</body>
</html>